.git
.idea
.env
.env.*
!.env.example
node_modules
vendor
storage/logs
storage/framework/cache/*
!storage/framework/cache/.gitignore
!storage/framework/cache/.gitkeep
!storage/framework/cache/data/
storage/framework/cache/data/*
!storage/framework/cache/data/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitignore
!storage/framework/views/.gitkeep
bootstrap/cache/*.php
!bootstrap/cache/.gitignore
!bootstrap/cache/.gitkeep
public/build
tests
README.md
DEPLOY_FLY.md
